.main__wrapper{
    padding: 15px;
    display: flex;
    flex-direction: column;

}

.hero{
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.5);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tyres__form {
    width: 100%;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.hero__formwrapper {
    padding: 5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center;

    @media (min-width: 768px) {
        width: 50%;
        padding: 20px;
    }
}

.hero__formwrapper h3 {
    margin: 0px;
    text-align: center;
}

.form__checkbox{
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media(min-width: 768px) {
        width: 50%;
    }
}

.form__checkbox:hover{
    cursor: pointer;
}

.form__checkbox input{
    margin: 0px 5px 0px 0px;
    outline: none;
    background-color: rgba(128, 128, 128, 0.5);
}

.form__checkbox input:hover{
    cursor: pointer;
}

.form__checkbox p{
    margin: 0px;
    font-size: 12px;
    font-weight: 400;
}

.select__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tyres__form p{
    margin: 0px;
    padding: 5px 0px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;

    @media(min-width: 768px) {
        font-size: 14px;
        font-weight: 700;
    }
}

.form__label{
    display: block;
    width: 33%;

    &:hover > .tyres__label{
        color: rgb(255, 255, 255);
        font-weight: 700;
        cursor: pointer;
        }
}

.without__disks  .disks__label{
    color: rgb(169, 169, 169);
}

.with__disks .disks__label{
    color: rgb(0, 0, 0);
}

.with__disks .form__label:hover .disks__label{
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.tyres__form select{
    box-sizing: border-box;
    outline: none;
    height: 25px;
    width: 100%;
    border-radius: 15px;
    border-bottom: 2px solid rgb(128, 128, 128);
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);

    @media(min-width: 768px) {
        font-size: 16px;
        font-weight: 700;
        height: 35px;
    }
}

.tyres__form select:hover:enabled, 
.tyres__form select:active:enabled{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}

.form__sizeholder{
    height: 20px;
}

.tyres__table{
    box-sizing: border-box;
}

.tyres__table th,
.tyres__table td{
    padding: 3px;
    height: 50px;
    width: 25%;
    font-size: 12px;
    text-align: center;
}

.tyres__table th{
    background-color: rgba(128, 128, 128, 0.5);
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.tyres__table td{
    background-color: rgb(128, 128, 128, 0.3);
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.tyres__table th:hover,
.tyres__table td:hover {
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
