<div class="hero">
    <form id="tyresform" class="tyres__form without__disks">
    <div class="hero__formwrapper">
    <h3> Select recent tyres size</h3>
    <label class="form__checkbox">
        <input type="checkbox" id="disksswitch" />
        <p>Also count disks size</p>
    </label>
        <div class="select__wrapper">
        <label class="form__label">
            <p class="tyres__label">Tire width,<br/>mm</p>
            <select id="lefttyreswidth" class="tyres__width">

            </select>
        </label>
        <label class="form__label">
            <p class="tyres__label">Tire profile,<br/>%</p>
            <select id="lefttyresheight" class="tyres__height">

            </select>
        </label>
        <label class="form__label">
            <p class="tyres__label">Tire diameter,<br/>inches</p>
            <select id="lefttyresdiameter" class="tyres__diameter">

            </select>
            </label>
        </div>
        <div class="select__wrapper">
            <label class="form__label">
                <p class="disks__label" id="disklabel">Disk diameter,<br/>inches</p>
                <select 
                id="leftdisksdiameter" class="disks__diameter" disabled>

                </select>
            </label>
            <label class="form__label">
                <p class="disks__label">Disk width,<br/>inches</p>
                <select id="leftdiskswidth" class="disks__width" disabled>
    
                </select>
            </label>
            <label class="form__label">
                <p class="disks__label">Disk ET,<br/>mm</p>
                <select id="leftdiskset" class="disks__et" disabled>
        
                </select>
            </label>
            </div>
    </div>

    <div class="hero__formwrapper">
        <h3> Select new tyres size</h3>
        <div class="form__sizeholder"></div>
        <div class="select__wrapper">
            <label class="form__label">
                <p class="tyres__label">Tire width,<br/>mm</p>
                <select id="righttyreswidth" class="tyres__width">

                </select>
            </label>
            <label class="form__label">
                <p class="tyres__label">Tire profile,<br/>%</p>
                <select id="righttyresheight" class="tyres__height">
            </select>

            </label>
            <label class="form__label">
                <p class="tyres__label">Tire diameter,<br/>inches</p>
            <select id="righttyresdiameter" class="tyres__diameter">

            </select>
            </label>
        </div>
        <div class="select__wrapper">
            <label class="form__label">
                <p class="disks__label">Disk diameter,<br/>inches</p>
                <select id="rightdisksdiameter" class="disks__diameter" disabled>
                </select>
            </label>
            <label class="form__label">
                <p class="disks__label">Disk width,<br/>inches</p>
                <select id="rightdiskswidth" class="disks__width" disabled>
    
                </select>
            </label>
            <label class="form__label">
                <p class="disks__label">Disk ET,<br/>mm</p>
                <select id="rightdiskset" class="disks__et" disabled>
    
                </select>
            </label>
        </div>
    </div>   
    </form>
    <table class="tyres__table">
        <thead>
            <th></th>
            <th>Recent size</th>
            <th>New size</th>
            <th>Difference</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    Tire width, mm
                </td>
                <td id="oldtyreswidth">
                </td>
                <td id="newtyreswidth">
                </td>
                <td id="tyreswidthdifference">

                </td>
            </tr>
            <tr>
                <td>
                    Tire profile height, mm
                </td>
                <td id="oldtyresheight">
                </td>
                <td id="newtyresheight">
                </td>
                <td id="tyresheightdifference">

                </td>
            </tr>
            <tr>
                <td>
                    Wheel height, mm
                </td>
                <td id="oldtyresdiameter">
                </td>
                <td id="newdtyresiameter">
                </td>
                <td id="tyresdiameterdifference">

                </td>
            </tr>
            <tr>
                <td>
                    Disk width, mm
                </td>
                <td id="olddiskswidth">
                </td>
                <td id="newddiskswidth">
                </td>
                <td id="disksdifference" rowspan="2">

                </td>
            </tr>
            <tr>
                <td>
                    Wheel ET, mm
                </td>
                <td id="oldwheelset">
                </td>
                <td id="newdwheelset">
                </td>
                <td >

                </td>
            </tr>
        </tbody>
    </table>

</div>