<div class="hero">
    <form id="tyresform" class="tyres__form">
    <div class="hero__formwrapper">
    <h3> Select recent size</h3>
        <div class="select__wrapper">
        <select id="lefttyreswidth" class="tyres__width">

        </select>
        <select id="lefttyresheight" class="tyres__height">

        </select>
        <select id="lefttyresdiameter" class="tyres__diameter">

        </select>
        </div>
    </div>

    <div class="hero__formwrapper">
        <h3> Select new size</h3>
        <div class="select__wrapper">
        <select id="righttyreswidth" class="tyres__width">

        </select>
        <select id="righttyresheight" class="tyres__height">

        </select>
        <select id="righttyresdiameter" class="tyres__diameter">

        </select>
        </div>
    </div>
    </form>
    <table class="tyres__table">
        <thead>
            <th></th>
            <th>Recent size</th>
            <th>Another size</th>
            <th>Difference</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    Tire width, cm
                </td>
                <td id="oldtyreswidth">
                </td>
                <td id="newtyreswidth">
                </td>
                <td id="tyreswidthdifference">

                </td>
            </tr>
            <tr>
                <td>
                    Tire profile height, cm
                </td>
                <td id="oldtyresheight">
                </td>
                <td id="newtyresheight">
                </td>
                <td id="tyresheightdifference">

                </td>
            </tr>
            <tr>
                <td>
                    Wheel height, cm
                </td>
                <td id="oldtyresdiameter">
                </td>
                <td id="newdtyresiameter">
                </td>
                <td id="tyresdiameterdifference">

                </td>
            </tr>

        </tbody>
    </table>

</div>